body{
    background-color:#f2f2f2;
}
a{
    color:green;
}
.a-findex{
    border:3px solid green;
    background-color:bisque;
    display: block;
    width:200px;
    margin: auto;
    text-align: center;
    margin-bottom:20px;
}
#form-fcontact{
    background-color: green;
    color:white;
    border:5px solid black;
}
input[type="submit"]{
    width:500px;
}
h1{
    font-weight: 100;
    font-size:32px;
}
#h1-findex{
    text-align:center;
}
table{
    border-collapse:collapse ;
    margin: auto;
}
th, td{
    border:1px solid black;
    padding:5px;
}
#img-finfo{
    padding:10px;
    margin-bottom: 100px;
}
#submit-fcontact{
    display: block;
    margin:auto;
}